<div class="z-depth-5 controlbar" id="control">
    <div class="controls">
    <button id="previous" class="waves-effect waves-light btn"><i class="material-icons" >skip_previous</i></button>
    <button id="playpause" class="waves-effect waves-light btn"><i class="material-icons">play_arrow</i></button>
    <button id="next" class="waves-effect waves-light btn"><i class="material-icons">skip_next</i></button>
    </div>
    <div id="progress" class="progress">
        <div class="determinate" style="width: 0%"></div>
    </div>
</div>
