<div class="z-depth-5 control" id="controls">
    <i class="material-icons" id="previous">skip_previous</i>
    <i class="material-icons" id="playpause">play_arrow</i>
    <i class="material-icons" id="next">skip_next</i>
    <div class="progress">
        <div class="determinate" style="width: 70%"></div>
    </div>
</div>
