<div class="z-depth-5 controlbar" id="control">
    <div class="controls">
    <button class="waves-effect waves-light btn"><i class="material-icons" id="previous">skip_previous</i></button>
    <button class="waves-effect waves-light btn"><i class="material-icons" id="playpause">play_arrow</i></button>
    <button class="waves-effect waves-llight btn"><i class="material-icons" id="next">skip_next</i></button>
    </div>
    <div class="progress">
        <div class="determinate" style="width: 70%"></div>
    </div>
</div>
