h2 {
  color:red;
  font-family: Georgia
}

h1 {
  color: blue;
  font-weight: 100;
}

body {
  text-align: center;
  background-image: url(https://authentic-scandinavia.com/themes/fjord-tours/_/image/f435023b-a3d3-4aeb-b666-abd2669e45af:914554f6ea7f29f36b7064189bef9ec8263b5582/width-1140/FT_-_Næroyfjorden_-_fjord_norway_-_Katrin_Moe_-_SMALL.jpg)
}

.courses {
  border: 1px red solid;
  padding: 70px;
  margin-left: 10%;
  margin-right: 10%;
}

.projects {
  border: 2px green dashed;
  padding: 70px;
  margin-left: 10%;
  margin-right: 10%;
}

.interests {
  border: 3px brown solid;
  padding: 70px;
  margin-left: 10%;
  margin-right: 10%;
}

.interesting {
  border: 3px orange dashed;
  padding: 70px;
  margin-left: 10%;
  margin-right: 10%;
}
