<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="utf-8">
    <title>Test</title>
  </head>
  <body>
      <%- include('./partials/sidebar.ejs')%>
   <main>
    <h1>Song playing?</h1>
    <audio controls src="http://localhost:3005/audio/5ecdba02159fe345a429e718" type="audio/mp3">please</audio>
    <h1>List of songs on db: </h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            <%songs.forEach(function(song) {%>
                <tr><th><%=song.SongName%></th><th><%=song.Artist%></th><th><%=song.Length%></th></tr>
            <%})%>
        </tbody>
    </table>
</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
    });
    </script>
  </body>
</html>
