<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/index.css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <%- include('./partials/sidebar.ejs')%>
        <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <form method="post" action="/playlist/new">
                        <input id="playlistname" type="text" name="playlistname">
                        <button id="submitname" type="submit" class="waves-effect waves-light btn">Create new playlist</button>
                    </form>
                    </div>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="/js/play.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('.sidenav');
                    var instances = M.Sidenav.init(elems);
                });
            </script>
    </body>
</html>
