<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/index.css">
        <meta charset="utf-8">
        <title>Upload</title>
    </head>
    <body>
        <%- include('./partials/sidebar.ejs')%>
        <div class="maincontent row">
            <form method="post" enctype="multipart/form-data" action="/audio/add">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" name="name" class="validate">
                    <label for="name">Song title</label>
            </div>
              <div class="input-field col s6">
                <input name="artist" id="artist" type="text" class="validate">
                <label for="artist">Artist</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input name="album" id="album" type="text" class="validate">
                <label for="album">Album</label>
              </div>
              <div class="input-field col s6">
                <input name="length" id="length" type="text" class="validate">
                <label for="length">Length</label>
            </div>
            </div>
            <div class="row">
                <div class="file-field input-field col s16">
                    <div class="btn col">
                        <span>Choose file</span>
                        <input id="file" type="file" name="song">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <input id="submit_file" type="submit" value="Upload" class="waves-effect waves-light btn"><input>
            </form>
        </div>
    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
            });
        </script>
    </body>
</html>
